
  <h2>Your Cart</h2>
  {{#each shoppingCart.items as |item|}}
    <div class="shopping-cart">
      <h4>${{item.cost}}</h4><h5>&nbsp;|&nbsp;</h5><h6>{{item.title}}</h6>
    </div>
  {{/each}}

<h3>Cart Total: ${{shoppingCart.total}}</h3>
