<div class="jumbotron">
  <h1>Scooty Mattooty's</h1>
  <p>We hope you find exactly what you're looking for in life.</p>
  {{#link-to 'store'}}<button class='btn btn-success'>View Our Products</button>{{/link-to}}
</div>
